@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mitr:wght@600&display=swap');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
:root{
    --primary-color:#B2A4FF;
    --secondary-color:#FFF9CA;
}
/* #FFF9CA
#FFDEB4
#FFB4B4
#B2A4FF */

/* Tags */
body{
    font-family: 'Marcellus', serif;
    max-width:90%;
    margin:0 auto;
}
html{
    scroll-behavior: smooth;
}

ul{
    padding:0;
    margin:0;
}
p{
    margin:0;
}
/* lists */
.list-non-bullet{
    list-style:none;
}
li{
    font-family: 'Mitr', sans-serif;
}
.list-item-inline{
    display:inline;
    padding: 0 2rem;
}
.container{
    padding-top:4rem;
}
/* Navigation */
.navigation{
    background-color: var(--primary-color);
    position:fixed;
    width:90%;
    margin-top:1rem;
    z-index:100;
    align-items: center;
}
.navigation span{
    float:left;
    font-size:1.5rem;
    padding:0 0.5rem;
}
.navigation ul{
    display:flex;
    justify-content: flex-end;
}
.navigation .nav-pills{
    padding:0 0.4rem;
    margin:0.2rem;
    flex-grow:0.05;
    flex-shrink:0.5;
    text-align:center;
    border-radius:35%;
}
/* Links */
.link{
    text-decoration: none;
    color:black;
}

/* section */
.section{
    padding:5rem;
    display:flex;
    text-align:center;
    justify-content: space-evenly;
}
.left,.right{
    height:25vh;
    padding:4rem;
    flex:1 1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;    
    font-size:1.5rem;
}
.section img{
    width:20rem;
}
.center{
    display:block;
    text-align:center;
    font-size:2.75rem;
}
.proImage{
    height: 12rem;
}
/* About */
#about img{
    width:100%;
}

/* Education */
.education{
    padding:2rem;
    font-size:10px;
    justify-content: space-between;
}
.education h2,.education-p{
    margin:0;
}

/* Contact */
.contact-card{
    display:flex;
    align-items: center;
    text-align: start;
    width:250px;
    justify-content: flex-start;
    font-size:10px;
}
.material-icons{
    font-size:32px;
    margin:16px;
}
.material-icons-active{
    color:var(--primary-color);
}
.jc{
    justify-content: space-evenly;
}
/* Footer */
.footer{
    background-color: var(--primary-color);
    text-align:center;
    color:white;
    padding:2rem;
}
@media(min-width:1300px){
    #home img{
        width:300px;
    }
    #home{
        font-size:4rem;
    }
}
@media (max-width:1300px){
    .left,.right{
        padding:0.5rem;
        font-size:1.2rem;
    }
    .center{
        font-size:2.50rem;
    }
}
@media (max-width:900px){
    .left,.right{
        font-size:1rem;
    }
    .left img{
        height: 75%;
    }
    .center{
        font-size:2.25rem;
    }

}
@media (max-width:700px){
    #about .left,#about img{
        display: none;
    }
    .center{
        font-size:2rem;
    }
    .nav-pills{
        font-size:0.8rem;
    }
    #home{
        font-size:0.8rem;
    }
    #home img{
        width:100px;
    }
    #about .right{
        font-size:1.5rem;
    }
    #projects .section{
        display: flex;
        flex-direction: column;
    }
    #projects .section a{
        margin-top:50px;
    }
    #contact .left p{
        display: none;
    }
    .footer ul{
        font-size:0.87rem;
    }
}
@media (max-width:480px){
    #about .right{
        font-size:1.10rem;
    }
    .nav-pills{
        font-size:0.7rem;
    }
    .navigation span{
        display:none;
    }
    .footer ul{
        display:flex;
        flex-direction: column;
    }
}
@media (max-width:360px){
    #about .right{
        font-size:0.8rem;
    }
    .nav-pills{
        font-size:0.6rem;
    }
}